/__pycache__
../__pycache__
../../__pycache__
__pycache__/
**/__pycache__/
/node_modules
../node_modules
../../node_modules
node_modules/
**/node_modules/
frontend/node_modules
.env
__pycache__/
*.csv
/.venv
.venv/
venv/