services:
  # FastAPI backend (Docker)
  - type: web
    name: rand-a-pizza-backend
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile_backend
    dockerContext: .
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      # - key: PORT
      #   value: 8000
      - key: VITE_BACKEND_URL
        value: rand-a-pizza-backend.onrender.com

  # Vite/React frontend (Docker)  
  - type: web
    name: rand-a-pizza-frontend
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile_frontend
    dockerContext: .
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: VITE_BACKEND_URL
        value: rand-a-pizza-backend.onrender.com  # Backend service name
      - key: PORT
        value: 5173
