body {
  background-color: #111111;
}
.landing-header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-image: url("RAND A PIZZA bg.png");
}

.pizza-header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 80% auto;
  background-image: url("Pizza-Landingpage.png");
}

.navbar {
  display: flex;
  padding: 20px 50px;

  .navbar-logo{
    height: 25px;
  }
}